    .titulo {
        @include fuente (Arial, 600, 1.5rem);
        color: rgba(255, 255, 255, 0.907);
        text-decoration: underline rgb(213, 213, 213);
        margin-right: 15px;
    }

    .clasificacion-kings {
        display: inline-flex;

        .titulo {
            @include fuente (Arial, 600, 1.5rem);
            color: rgba(255, 255, 255, 0.907);
            text-decoration: underline rgb(213, 213, 213);
            margin-right: 15px;
        }
    }

.clasificacion-kings1 {
    @include flex (flex, center, none, row);
    text-align: center;

    .tabla1 {
        width: 100%;
        border-bottom: 2px solid $color-black;
        text-align: center;
        border-collapse: collapse;
        @include fuente ('Sarabun', normal, 1.2rem);

        .theadq {
            background-color: $color-queens;
            border-bottom: 2px solid $color-black;
            color: $color-white;
        }

        thead {
            background-color: $color-kings;
            border-bottom: 2px solid $color-black;
            color: $color-white;

            tr {
                th {
                    padding: 10px 5px 10px 5px;
                }
            }
        }

        tr {
            &:nth-child(even) {
                background-color: #dddddd3f
            }

            &:hover td {
                background-color: #ed2a2a;
                color: $color-white;
            }

            td {
                padding: 10px 5px 10px 5px;

                &:nth-child(2) {
                    text-align: right;
                }

                &:nth-child(3) {
                    text-align: left;
                }

                &:nth-child(4) {
                    text-align: left;
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .abv {
            text-align: left
        }

        .abrev {
            text-align: left
        }
    }
}

.clasificacion2 {
    @include flex (grid, center, center, none);
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(7fr);
    grid-template-areas:
        "h2 h2 h2 h2 h2"
        "po-1 semi-4 final semi-2 po-3"
        "po-2 semi-4 final semi-2 po-4"
        "po-7 semi-3 final semi-1 po-5"
        "po-8 semi-3 final semi-1 po-6"
    ;
    margin: 50px;
    column-gap: 2rem;
    row-gap: 1rem;
    text-align: center;
    background-image: url(../img/cancha1.jpg);
    height: 80vh;
    width: 95vw;
    position: relative;
    padding: 5px;
    @include bg (center, cover, no-repeat);

    a {
        color: $color-white;
        text-align: center;
        text-decoration: underline $color-white;
    }

    div {
        background-color: rgba(255, 255, 255, 0.704);
        justify-self: center;
        border: 2px solid $color-black;
        @include flex (flex, space-around, center, row);
        height: 3.2rem;
        width: 100%;
    }

    img {
        width: 40px;
        height: 40px;
    }

    h3 {
        @include fuente (Arial, bold, 0.8rem);
        margin: 0 3px 0 3px;
    }

    .copa {
        width: 8%;
        height: 35%;
        position: absolute;
        right: 46%;
        top: 15%;
    }

    .po-1 {
        grid-area: po-1;
    }

    .po-2 {
        grid-area: po-2;
    }

    .po-3 {
        grid-area: po-3;
    }

    .po-4 {
        grid-area: po-4;
    }

    .po-5 {
        grid-area: po-5;
    }

    .po-6 {
        grid-area: po-6;
    }

    .po-7 {
        grid-area: po-7;
    }

    .po-8 {
        grid-area: po-8;
    }

    .semi-1 {
        grid-area: semi-1;
    }

    .semi-2 {
        grid-area: semi-2;
    }

    .semi-3 {
        grid-area: semi-3;
    }

    .semi-4 {
        grid-area: semi-4;
    }

    .final {
        grid-area: final;
        width: max-content;
        justify-self: center;
    }

    .final-1 {
        grid-area: final-1;
    }

    .final-2 {
        grid-area: final-2;
    }
}

.clasificacion3 {
    @include flex (grid, center, center, none);
    grid-template-columns: repeat(7, 170px);
    grid-template-rows: repeat(7fr);
    grid-template-areas:
        "h2 h2 h2 h2 h2 h2 h2"
        ". . semi-4 . semi-1 cu-1 ."
        ". . semi-4 . semi-1 cu-2 oc-3"
        ". . final final final cu-2 oc-4"
        ". cu-5 final final final cu-3 ."
        "oc-1 cu-6 semi-3 . semi-2 cu-4 oc-5"
        "oc-2 cu-6 . . . cu-4 oc-6";
    ;
    margin: 50px;
    column-gap: 2rem;
    row-gap: 1rem;
    text-align: center;
    background-image: url(../img/cancha1.jpg);
    height: 80vh;
    width: 95vw;
    position: relative;
    padding: 5px;
    @include bg (center, cover, no-repeat);

    a {
        color: $color-white;
        text-align: center;
        text-decoration: underline $color-white;
    }

    div {
        background-color: rgba(255, 255, 255, 0.704);
        justify-self: center;
        border: 2px solid $color-black;
        @include flex (flex, space-around, center, row);
        height: 3.2rem;
        width: 100%;

        h3 {
            @include fuente (Arial, bold, 0.7rem);
            margin: 0 3px 0 3px;
            font-size: 0.7rem;
        }
    }

    img {
        width: 40px;
        height: 40px;
    }

    .copa {
        width: 8%;
        height: 35%;
        position: absolute;
        right: 46%;
        top: 15%;
    }

    .oc-1 {
        grid-area: oc-1;
    }

    .oc-2 {
        grid-area: oc-2;
    }

    .oc-3 {
        grid-area: oc-3;
    }

    .oc-4 {
        grid-area: oc-4;
    }

    .oc-5 {
        grid-area: oc-5;
    }

    .oc-6 {
        grid-area: oc-6;
    }

    .cu-1 {
        grid-area: cu-1;
    }

    .cu-2 {
        grid-area: cu-2;
    }

    .cu-3 {
        grid-area: cu-3;
    }

    .cu-4 {
        grid-area: cu-4;
    }

    .cu-5 {
        grid-area: cu-5;
    }

    .cu-6 {
        grid-area: cu-6;
    }

    .semi-1 {
        grid-area: semi-1;
    }

    .semi-2 {
        grid-area: semi-2;
    }

    .semi-3 {
        grid-area: semi-3;
    }

    .semi-4 {
        grid-area: semi-4;
    }

    .final {
        grid-area: final;
        width: fit-content;
        justify-self: center;
    }

    .final-1 {
        grid-area: final-1;
        width: fit-content;
    }

    .final-2 {
        grid-area: final-2;
        width: fit-content;
    }
}

.winner {
    margin: 20px 0px 20px 0px;
    @include flex (flex, center, center, row);
}