header {
    width: 100%;
    height: 15vh;
    background-image: url(../img/aniquiladores-bg.jpg);
    @include bg (none, cover, no-repeat);
    background-attachment: fixed;
    @include flex (flex, space-around, center, row);

    a {
        img {
            height: 100px;

            &:nth-child(2) {
                display: none;
                transform: scale(1.1);

            }
        }

        &:hover img:nth-child(1) {
            display: none;
        }

        &:hover img:nth-child(2) {
            display: initial;
            margin-left: 5px;
        }
    }

    nav {
        ul {
            list-style: none;
            padding-left: 0;
            @include flex (flex, center, center, row);

            li {
                a {
                    text-decoration: none;
                    color: $color-black;
                    @include fuente ('Sarabun', 700, 1.2rem);
                    margin-left: 20px;
                    border-left: 2px solid $color-black;
                    border-right: 2px solid $color-black;
                    padding: 0 20px 0 20px;

                    &:hover {
                        color: $color-white;
                        border-left: 2px solid $color-white;
                        border-right: 2px solid $color-white;
                    }
                }

                &:hover {
                    transform: scale(1.1);
                }

                .h-eq {
                    border: none;

                    &:hover {
                        border: none;
                    }
                }
            }
        }
    }
}