main {
    .presupuesto-encabezado {
        background-color: $color-kings;
        .presupuesto1 {
            @include fuente ('Times New Roman', 600, 40px);
            margin-left: 30px;
            color: $color-white;
        }

        .pp {
            @include fuente ('Times New Roman', 400, 1.2rem);
            margin-left: 60px;
            color: $color-white
        }
    }

    .presupuesto {
        div {
            div {
                .presupuesto1 {
                    @include fuente ('Times New Roman', 600, 40px);
                    margin-left: 30px;
                }

                .accordion {
                    .accordion-item {
                        @include bg (20%, normal, no-repeat);
                        background-image: url(../img/aniquiladorEs-inverso.png);
                        background-color: #d9d6d6;
                        background-attachment: fixed;

                        .accordion-header {
                            .accordion-button {
                                color: $color-white;
                                background-image: url(../img/aniquiladorEs-inverso.png);
                                background-color: $color-black;
                                background-attachment: fixed;
                                @include bg (20%, normal, no-repeat);
                                font-weight: 700;
                                text-shadow:
                                    1px 1px 2px black,
                                    0 0 1rem rgb(255, 0, 0),
                                    0 0 0.2rem rgb(255, 0, 0);
                                color: white;
                            }
                        }
                    }
                }
            }

            div {
                .carousel {
                    .carousel-inner {
                        .carousel-item {
                            img {
                                margin: 20px;
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}