/*!---------------------------------------------------MEDIA QUERIES---------------------------------------------------*/

@media screen and (max-width:4000px) {
    .grid-container .aside .clasificacion-index .tabla table tr .abreviacion {
        display: none;
    }

    .tabla1 tr th:nth-child(1),
    .tabla2 tr th:nth-child(1) {
        display: none;
    }

    .grid-container .aside .clasificacion-index .tabla table tr .abrev {
        display: none;
    }
}

/*!------------------------MEDIA QUERIES------------------------*/
@media screen and (max-width:1750px) {
    .grid-container .aside .clasificacion-index div a h2{
        font-size: 1.7rem;
    }
}

/*!------------------------MEDIA QUERIES------------------------*/
@media screen and (max-width:1680px) {
    .grid-container {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr;
        grid-template-rows: auto 800px 750px;
        grid-template-areas:
            "hero hero hero"
            "ultimo ultimo aside"
            "proximo twitter aside"
        ;
    }

    .grid-container .hero0 .hero .hero1 img {
        width: 20vw;
    }
    
    .grid-container .proximo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
    }
    .grid-container .proximo div img {
        height: 80%;
    }

    .clasificacion2 div img {
        width: 40px;
        height: 40px;
    }
}

/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:1560px) {
    .grid-container .aside .clasificacion-index div a h2{
        font-size: 1.8rem;
    }

    .grid-container .aside .clasificacion-index .tabla table tr td,
    .grid-container .aside .clasificacion-index .tabla table thead tr th {
        padding: 8px 4px 8px 4px;
    }   
    .grid-container .aside .clasificacion-index .tabla table thead tr .dg, .grid-container .aside .clasificacion-index .tabla table tr .dg{
        display: none;
    }
}

/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:1500px) {


    .clasificacion2 div img {
        width: 30px;
        height: 30px;
    }  
    .grid-container .proximo div img {
        height: 75%;
    }

}
/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:1460px) {
    .grid-container .aside .clasificacion-index div a h2{
        font-size: 1.2rem;
    }
    .grid-container .aside .clasificacion-index .tabla table tr td,
    .grid-container .aside .clasificacion-index .tabla table thead tr th {
        padding: 4px 2px 4px 2px;
    }   
}
/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:1400px) {

    .grid-container .aside .clasificacion-index div a h2 {
        font-size: 1rem;
    }
    .grid-container .aside .clasificacion-index .tabla table tr .abv-equipo {
        display: none;
    }
    
    .grid-container .aside .clasificacion-index .tabla table tr .abreviacion {
        display: initial;
        font-weight: bold;
    }
    .grid-container .aside .clasificacion-index .tabla thead tr .pj, .grid-container .aside .clasificacion-index .tabla table tr .pj {
        display: none;
    }
    .grid-container .aside .clasificacion-index .tabla table tr td {
        font-size: 0.8rem;
    }
}

/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:1350px) {
    .grid-container {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr;
        grid-template-rows: auto 750px 600px;
        grid-template-areas:
            "hero hero hero"
            "ultimo ultimo aside"
            "proximo twitter aside"
        ;
    }
    .grid-container .proximo div img {
        height: 65%;
    }
    .grid-container .twitter{
        width: 90%;
    }
}

/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:1250px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 800px 650px;
        grid-template-areas:
            "hero hero"
            "ultimo ultimo"
            "aside aside"
            "proximo twitter"
        ;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    header a img {
        height: 90px;
        padding: 5px;
    }

    header nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-family: 'Sarabun', sans-serif;
        font-weight: 700;
    }

    .grid-container .hero0 .hero .hero1 {
        margin: 50px 0 50px 0;
        padding: 10px;
        width: 80vw;
        height: 50vh;
    }

    .grid-container .hero0 .hero .hero1 img {
        width: 23vw;
    }

    .grid-container .hero0 .hero .hero1 .hero-logo1 img {
        width: 60%;
    }

    .grid-container .hero0 .hero .hero1 .hero-logo2 img {
        width: 60%;
    }

    .grid-container .aside {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .grid-container .aside .clasificacion-index {
        width: auto;
    }
    .grid-container .aside .clasificacion-index div a h2 {
        font-size: 1.7rem;
        padding: 5px;
    }
    .grid-container .aside .clasificacion-index .tabla table tr td, .aside .clasificacion-index .tabla table thead tr th {
        padding: 10px 5px 10px 5px;
    }
    .grid-container .aside .clasificacion-index .tabla table tr .abreviacion {
        display: none;
    }

    .grid-container .aside .clasificacion-index .tabla table thead tr .pj, .grid-container .aside .clasificacion-index .tabla table tr .pj
    .grid-container .aside .clasificacion-index .tabla table tr .abv-equipo,
    .grid-container .aside .clasificacion-index .tabla table thead tr .dg, .grid-container .aside .clasificacion-index .tabla table tr .dg {
        display: table-cell;
    }

    .grid-container .proximo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid-container .twitter {
        width: 80%;
    }

    .accordion .accordion-item .accordion-header .accordion-button{
        color: rgb(244, 92, 92);
        font-weight: 700;
        background-position: center;
    }
    footer .footer-logo {
        display: inline-block;
    }
}

/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:1020px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto 600px;
        grid-template-areas:
            "hero hero"
            "ultimo ultimo"
            "aside aside"
            "proximo twitter"
        ;
    }

    .grid-container .twitter {
        width: 70%;
    }
    .grid-container .proximo div img {
        height: 50%;
    }
}

/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:900px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 750px 600px 550px;
        grid-template-areas:
            "hero"
            "ultimo"
            "aside"
            "twitter"
            "proximo"
        ;
    }

    .grid-container .hero0 .hero .hero1 {
        height: 40vh;
        width: 90vw;
    }

    .grid-container .hero0 .hero .hero1 img {
        width: 23vw;
    }

    .grid-container .hero0 .hero .hero1 .hero-logo1 img {
        width: 40%;
    }

    .grid-container .hero0 .hero .hero1 .hero-logo1 h3 {
        font-size: 2rem;
    }

    .grid-container .hero0 .hero .hero1 .hero-logo2 img {
        width: 40%;
    }

    .grid-container .hero0 .hero .hero-logo2 h3 {
        font-size: 2rem;
    }

    .grid-container .twitter {
        width: 90%;
    }
    .grid-container .proximo{
        margin: 0;
    }
    .grid-container .proximo div img{
        height: 80%;
    }

    .nav3 .slide-qk {
        display: flex;
    }

    .clasificacion-kings1 .tabla1 tr th:nth-child(1),
    .clasificacion-queens1 .tabla2 tr th:nth-child(1) {
        display: initial;
    }

    .clasificacion-kings1 .tabla1 tr th:nth-child(2),
    .clasificacion-queens1 .tabla2 tr th:nth-child(2) {
        display: none;
    }

    footer {
        grid-template-rows: 100px 700px auto;
    }
}

/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:700px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1500px 600px 550px;
        grid-template-areas:
            "hero"
            "ultimo"
            "aside"
            "twitter"
            "proximo"
        ;
    }
    .grid-container .hero0 .hero .hero1 {
        height: 35vh;
    }

    .grid-container .hero0 .hero .hero1 img {
        width: 23vw;
    }

    .grid-container .hero0 .hero .hero1 .hero-logo1 img {
        width: 2.4rem;
    }

    .grid-container .hero0 .hero .hero1 .hero-logo2 img {
        width: 2.4rem;
    }

    .grid-container .hero0 .hero .hero1 .hero-logo1 h3 {
        font-size: 2rem;
    }

    .grid-container .hero0 .hero .hero1 .hero-logo2 h3 {
        font-size: 2rem;
    }

    .grid-container .aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .grid-container .proximo div img {
        height: 65%;
    }

    .nav3 h1,
    .nav3 h2,
    .nav3 a h3 {
        font-size: 1rem;
    }
}

/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:550px) {
    .grid-container .proximo div img {
        height: 60%;
    }
}
/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:500px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1200px 650px 700px;
        grid-template-areas:
            "hero"
            "ultimo"
            "aside"
            "twitter"
            "proximo"
        ;
    }
    .grid-container .hero0 .hero .hero1 {
        height: 30vh;
        width: 80vw;
    }

    .grid-container .hero0 .hero .hero1 img {
        width: 23vw;
    }

    .grid-container .hero0 .hero .hero1 .hero-logo1 img {
        width: 2rem;
    }

    .grid-container .hero0 .hero .hero1 .hero-logo2 img {
        width: 2rem;
    }
    .grid-container .ultimo .carousel .carousel-indicators {
        margin-bottom: 0;
    }
    .grid-container .ultimo .carousel .carousel-item .carousel-caption {
        height: 30%;
        padding-top: 0.3rem;
        margin: 0;
    }
    
    .grid-container .ultimo .carousel .carousel-item .carousel-caption h5,p {
        font-size: 0.9rem;
        margin:  0;
    }
    .grid-container .aside .clasificacion-index div a h2{
        font-size: 1.2rem;
    }
    .grid-container .aside .clasificacion-index .tabla table tr td,
    .grid-container .aside .clasificacion-index .tabla table thead tr th {
        padding: 4px 2px 4px 2px;
    }   
    .grid-container .aside .clasificacion-index .tabla table tr .abv-equipo {
        display: none;
    }
    
    .grid-container .aside .clasificacion-index .tabla table tr .abreviacion {
        display: initial;
        font-weight: bold;
    }
    .grid-container .ultimo .carousel{
        margin-left: 10px;
    }
    .grid-container .proximo{
        justify-content: flex-start;
    }
    .grid-container .proximo div {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 600px;
    }

    .grid-container .proximo div img {
        height: 50%;
        margin-bottom: 20px;
    }
    .grid-container .twitter{
        width: 250px;
        height: 600px;
        margin-left: 40px;
}
}

/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:430px) {

    header {
        display: flex;
        flex-direction: row;
    }

    header nav ul {
        display: inline;
    }

    .grid-container .hero0 .hero .hero1 {
        width: 90vw;
    }

    .main-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacto-titulo {
        margin-left: 0;
    }

    form .contacto div {
        width: 80%;
    }

    form .contacto div textarea {
        width: 90%;
    }

    .titulo-equipo,
    .titulo-equipoq {
        width: 80vw;
    }

    footer {
        grid-template-rows: 100px 700px auto;
    }

    footer .footer-logo div img {
        width: 3.8rem;
    }

    footer .footer-links {
        align-self: center;
        margin-bottom: 5px;
    }
}

/*!------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:400px) {
    .grid-container .proximo {
        margin-left: 0;
    }

    .abrev {
        display: initial;
        font-weight: bold;
    }

    .abv {
        display: none;
    }

    .nav3 h1,
    .nav3 h2,
    .nav3 a h3 {
        font-size: 0.8rem;
    }

    footer {
        grid-template-rows: 110px auto auto;
    }

    footer h3 {
        align-self: center;
    }

    footer .footer-logo {
        display: inline-block;
    }

    footer .footer-links {
        align-self: center;
        margin-bottom: 5px;
    }

    footer .footer-links ul li a {
        font-size: 0.9rem;
    }
}